In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import glob
import sys

%matplotlib inline

In [3]:
os.getcwd()

'/home/hugo/Documents/DataScience/Kaggle/kaggle_credit_risk/notebooks'

In [4]:
DATA_PATH = '/home/hugo/Documents/DataScience/Kaggle/kaggle_credit_risk/data/'

In [21]:
files = glob.glob(DATA_PATH + "/*.csv")

dfs = []
for filename in files:
    file = filename.split('/')[-1]#.split('.')[0]
    print(file)

bureau.csv
installments_payments.csv
previous_application.csv
POS_CASH_balance.csv
bureau_balance.csv
application_train.csv
sample_submission.csv
credit_card_balance.csv
application_test.csv
HomeCredit_columns_description.csv

In [23]:
df_bureau = pd.read_csv(DATA_PATH + 'bureau.csv')
df_installments_payments = pd.read_csv(DATA_PATH + 'installments_payments.csv')
df_POS_CASH_balance = pd.read_csv(DATA_PATH + 'POS_CASH_balance.csv')
df_bureau_balance = pd.read_csv(DATA_PATH + 'bureau_balance.csv')
df_application_train = pd.read_csv(DATA_PATH + 'application_train.csv')
df_sample_submission = pd.read_csv(DATA_PATH + 'sample_submission.csv')
df_credit_card_balance = pd.read_csv(DATA_PATH + 'credit_card_balance.csv')
df_application_test = pd.read_csv(DATA_PATH + 'application_test.csv')

KeyboardInterrupt:

# Bureau

In [9]:
df_application_train = pd.read_csv(DATA_PATH + 'application_train.csv')

print('Shape of df: ' + str(df_application_train.shape))
df_application_train.head()

Shape of df: (307511, 122)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
df_credit_card_balance = pd.read_csv(DATA_PATH + 'credit_card_balance.csv')

print('Shape of df: ' + str(df_credit_card_balance.shape))
df_credit_card_balance.head()

Shape of df: (3840312, 23)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,0.0,877.5,0.0,877.5,1700.325,...,0.000,0.000,0.0,1,0.0,1.0,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.0,0.0,0.0,2250.000,...,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.0,0.0,0.0,0.0,2250.000,...,31460.085,31460.085,0.0,0,0.0,0.0,30.0,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.0,2250.0,0.0,0.0,11795.760,...,233048.970,233048.970,1.0,1,0.0,0.0,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000,0.0,11547.0,0.0,11547.0,22924.890,...,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Active,0,0